PGDATABASE=camera_ai
PGUSER=postgres
PGPASSWORD=
PGHOST=localhost
PGPORT=5432

YOLO_POSTGRES=1
YOLO_POSTGRES_EVERY_N_FRAMES=30
YOLO_POSTGRES_EVENT_GAP_SECONDS=10
YOLO_POSTGRES_SAVE_SNAPSHOTS=1
YOLO_CAMERA_ID=webcam_01
YOLO_POSTGRES_SNAPSHOT_DIR=runs/postgres_snapshots

DETECTIONS_RETENTION_DAYS=7
EVENTS_RETENTION_DAYS=30
ALERTS_RETENTION_DAYS=30
SNAPSHOTS_RETENTION_DAYS=30
